[general]
# valid values for log level are: ERROR, WARN, NOTICE, INFO, DEBUG
logLevel = NOTICE

[sip]
# list of valid SIP URIs for incoming connections separated by space
# supported wildcards: *
# if you want to allow calls from any URI, write *@*
validUriExpression = *@sip.example.com *@127.0.0.1
host = sip.example.org
port = 5060
user = mumsi
password = foobar

[mumble]
host = example.org
port = 64738
user = mumsi
password = foobar
channelNameExpression =
opusEncoderBitrate = 16000