[general]
# valid values for log level are: ERROR, WARN, NOTICE, INFO, DEBUG
logLevel = NOTICE

[sip]
# list of valid SIP URIs for incoming connections separated by space
# supported wildcards: *
# if you want to allow calls from any URI, write *@*
validUriExpression = *@sip.example.com *@127.0.0.1
host = sip.example.org
port = 5060
user = mumsi
password = foobar

# length of single voice frame in ms. Valid values are 10, 20, 40, 60 ms.
# Adjust it if you need to meet the specific bandwidth requirements of Murmur server
frameLength = 40

[mumble]
host = example.org
port = 64738
user = mumsi
password = foobar
channelNameExpression =

# When here is no SIP connection, the mumble state is set to self_mute/self_deaf
# so the other users can easily see whether the SIP is connected even when not
# in the same group
autodeaf = 0

# Caller PIN needed to authenticate the phone call itself. The caller presses
# the PIN, followed by the hash '#' key. On success, the caller is
# unmuted/undeafened. On failure, the SIP call is hung up.
pin = 4321

# Bitrate of Opus encoder in B/s
# Adjust it if you need to meet the specific bandwidth requirements of Murmur server
opusEncoderBitrate = 16000
