[general]
# valid values for log level are: ERROR, WARN, NOTICE, INFO, DEBUG
logLevel = NOTICE

[sip]
# list of valid SIP URIs for incoming connections separated by space
# supported wildcards: *
# if you want to allow calls from any URI, write *@*
validUriExpression = *@sip.example.com *@127.0.0.1
host = sip.example.org
port = 5060
user = mumsi
password = foobar

# length of single voice frame in ms. Valid values are 10, 20, 40, 60 ms.
# Adjust it if you need to meet the specific bandwidth requirements of Murmur server
frameLength = 40

# Set the maximum number of SIP calls to allow simultaneously. This should be <= 32.
# If you need more, recompile PJSUA LIB and also modify the define in main.hpp.
max_calls = 1

[mumble]
host = example.org
port = 64738
user = mumsi
password = foobar
channelNameExpression =

# When here is no SIP connection, the mumble state is set to self_mute/self_deaf
# so the other users can easily see whether the SIP is connected even when not
# in the same group
autodeaf = 1

# Bitrate of Opus encoder in B/s
# Adjust it if you need to meet the specific bandwidth requirements of Murmur server
opusEncoderBitrate = 16000

# Set to 1 to use client certificates. The certs must be named <user>-cert.pem and
# the private keys <user>-key.pem.
use_certs = 0

[app]

# Caller PIN needed to authenticate the phone call itself. The caller presses
# the PIN, followed by the hash '#' key. On success, the caller is
# unmuted/undeafened. On failure, the SIP call is hung up.
pin = 4321

[files]
# These files are used for the caller and mumble channel audio clips.
# The paths below assume that you are running ./mumsi in the build/ dir.
welcome = ../media/welcome.wav
prompt_pin = ../media/prompt-pin.wav
entering_channel = ../media/entering-channel.wav
announce_new_caller = ../media/announce-new-caller.wav
invalid_pin = ../media/invalid-pin.wav
goodbye = ../media/goodbye.wav
mute_on = ../media/mute-on.wav
mute_off = ../media/mute-off.wav
menu = ../media/menu.wav


